:root {
  /* sets the sizes for the team member cards */
  --cardWidth: 450px;
  --cardHeight: 625px;
  --cardMargin: 1rem;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#team-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  align-self: center;
  margin: auto;
}

.team-card {
  width: var(--cardWidth);
  height: auto;
  height: var(--cardHeight);
  margin: var(--cardMargin);
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  box-sizing: border-box;
  padding: 1rem;
}

.team-card-image {
  object-fit: cover;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 290px;
  height: 290px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50% !important;
  margin: 0 auto;
}

.team-card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0rem;
}
.team-card-position {
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  color: #7b7b7b;
}

.team-card-name {
  padding: 1rem;
  text-align: center;
  font-size: xx-large;
}

.team-card-aspiration {
  text-align: center;
}

.team-card-pronouns {
  font-size: 1rem;
  display: inline;
}

.team-card-links {
  margin: auto;
  display: flex;
  align-items: center;
  justify-items: auto;
  width: fit-content;
}
.team-card-icon {
  padding: 0.25rem;
}
.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url('images/banner/team-photo.jpeg');
  background-position: 50% 50%;
}

.hero .page-title {
  font-size: 6rem;
  font-weight: 700;
  --animation-custom_in-scale: 1;
  margin: 342px auto 0;
}

.hero .page-subtitle {
  --animation-custom_in-scale: 1;
  margin: 9px auto 60px;
}

.hero .util-sheet {
  min-height: 847px;
}

/*! MEDIA  QUERIES need fixing ...*/
/* Laptop or smaller -> layout changes */
@media (max-width: 1199px) {
  .hero .util-sheet {
    min-height: 698px;
  }
  .team-card-image {
    width: 232px;
    height: 232px;
  }
}

/* Tablet layout changes */
@media (max-width: 991px) {
  .hero .util-sheet {
    min-height: 535px;
  }
  .team-card-image {
    width: 232px;
    height: 232px;
  }
}

/* Tablet layout changes */
@media (max-width: 767px) {
  .hero .util-sheet {
    min-height: 401px;
  }
}

/* Mobile layout changes */
@media (max-width: 575px) {
  .hero .util-sheet {
    min-height: 252px;
  }
  .hero .page-title {
    font-size: 3.75rem;
  }
}
